* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--main-text);


  background-color: var(--main-bg);


  --main-bg: #252323;
  --header-bg: #2f2d2d;
  --main-text: #b0abab;
  --nav-bg: #2a2828;
}

main {
  flex: 1;
  display: flex;
}

.main-content {
  background-color: var(--nav-bg);
  flex: 1;
}

header {
  min-height: 3rem;
  /*background-color: var(--header-bg);*/
}

nav {
  min-width: 3rem;
  /*background-color: var(--nav-bg);*/
}

